* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.banner {
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-wrapper h1{
  color: #e2f2ba;
  font-size: 2em;
  margin-bottom: 20px;
}

.banner-wrapper a {
  cursor: pointer;
  border: 1px solid #ad3c33;
  background-color: transparent;
  color: #ad3c33;
  padding: 10px;
  font-size: 1.7em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.banner-wrapper a:hover {
  transition: 1s;
  cursor: pointer;
  background-color: #ad3c33;
  color: #fff;
}

.navbar {
  color: #fff;
  padding: 10px 50px;
  /* background-color: #223f42; */
  background-color: #ad3c33;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* START RESPONSIVE NAVLINK */

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* END RESPONSIVE NAVLINK */

.content-wrapper{
  padding: 0 7.5rem;
}

.main-content {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}


.profile-details {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 50px;  
}

img.photo-profile {
  width: 20rem;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
}

.ability-content ul {
  text-align: left;
}

.profile-description {
  margin-top: 10px;
  text-align: justify;
}


.motto-content {
  margin: 50px 0;
}

.lesson-learned-section{
  display: flex;
  align-content: center;
  text-align: justify;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

.lesson-learned-section div h2{
  text-align: center;
  margin-bottom: 5px;
}

.my-gallery-section {
  text-align: center;
  margin-bottom: 20px;
}

.my-gallery-section > div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.gallery{
  float: right;
  margin: 5px;
  border: 2px solid black;
}

.gallery img{
  width: 100%;
}

.gallery div {
  padding: 10px 0;
  text-align: center;
}

.gallery a img{
  width: 100%;
}

.gallery a div {
  color: #000;
  padding: 10px 0;
  text-align: center;
}

.video-perkenalan-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.video-perkenalan-section > iframe {
  width: 80%;
  height: 50vh;
}

.map-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.map-section > iframe {
  width: 80%;
}

.contacts-section{
  text-align: center;
}

.contacts-section > div{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 1100px) {
  .content-wrapper{
    padding: 0 50px;
  }

  .main-content{
    height: auto;
    flex-direction: column;
  }
  
  .profile-details{
    gap: 0px;
    flex-direction: column;
    align-items: center;
  }

  .lesson-learned-section{
    gap: 20px;
    flex-direction: column;
  }

  .my-gallery-section > div{
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
  }
  
  .contacts-section > div{
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25%;
    gap: 10px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  background-color: #242424;
  color: #fff;
  padding: 10px 0px;
}
